body {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    url(https://www.desktopbackground.org/download/1920x1080/2010/09/17/81451_download-wallpapers-2048x2048-apple-cartoon-wood-texture-new_2048x2048_h.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}